Django
djangorestframework
django-cors-headers
python-dotenv
pymongo
mongoengine
chromadb
openrouteservice
PyPDF2
sentence-transformers
googlemaps
python-dateutil
python-multipart
requests
transformers
pydantic
pydantic-settings
httpx
aiohttp
uvicorn